body {
    margin: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../../Imagens/listadecursosBG.jpg");
    background-size: 100%;
}
.image-center {
    width:600px;
    height:600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2.centro {
    text-align: center;
    display: block;
    font-size: 40px;
}
    .header {
        padding: 10px;
        background: rgb(126, 138, 126);  
    }
    .header a {
        margin: 10px;
    }
    .header a:hover {
        color: aliceblue;
    }
    h1.titulo {
        color: white;
    }
    nav {
        margin: 0%;
    }
P{
    text-align: center;
}
h1.centro{
    text-align: center;
    color: black;
    font-family: Bahnschrift;
    font-size: 50px;
}


P.justificado{
    text-align: justify;
    text-justify: inter-word;
    color: black;
    font-size: 20px;
    font-family: Bahnschra;
    margin: 30px;
}

a{
    font-size: 30px;
    color: rgb(0, 0, 0);
}



div.ListaCursos {
    background-color: rgba(255, 255, 255, 0.61);
    width: 700px;
    height: 300px;
    margin: 40px;
}
p.ListaCursos {
    margin: 40px;
    padding: 10px;
    font-size: 40px;
    font-display: block;
    width: 600px;
    position: relative;
    color: rgb(3, 2, 2);
}
div.ListaCursos-2 {
    background-color: rgba(255, 255, 255, 0.61);
    width: 700px;
    height: 300px;
    margin: 40px;
    position: relative;
    left: 42%;
    
}
h1{
    text-align: center;
    font-size: 100px;
    color: darkslategrey;
}

p.Sobre-Curso{
    font-size: 30px;
    color: white;
}
