body {
    background: #20B2AA;
}
P{
    text-align: center;
}
h1.centro{
    text-align: center;
    color: black;
    font-family: Bahnschrift;
}

h2,h3{
    text-align: left;
    color: black;
    font-family: Bahnschrift;
}
P.justificado{
    text-align: justify;
    color: black;
    font-size: 20px;
    font-family: Bahnschra;
}

a{
    font-size: 20px
}

a:hover{
        color: aquamarine;
        font-size: 30px
}